main {
    margin-bottom: 25px;
}

header {

    padding: 5px 0;
    border-radius: 0 0 15px 15px;
    border: 1px groove rgb(168, 140, 192);
    background-color: rgba(218, 203, 231, 0.91);
    width: 100%;
    z-index: 1;
    position: fixed;
    margin-bottom: 10px;
}

button {
    
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background-color: rgb(178, 173, 219);
    font-size: 100%;
    font: 1em sans-serif;
    font-weight: bold;
    font-family: Trebuchet MS;
    border-color: beige;
    border: 1px solid rgb(115, 100, 223); 
}

button:hover{

    background-color: rgb(136, 161, 210);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    background-color: #618bd3;
    box-shadow: 0 1px #666;
    transform: translateY(2px), translateX(2px);
  }

.my-navbar{

    background-color: rgb(218, 203, 231);
}

footer{

    margin-top: auto;
    background-color: rgba(74, 74, 225, 0.5);
    margin-bottom: 5px;
    text-align: center;
    padding: 5px 0;
    height: 35px;
    margin-left: 1%;
    border-radius: 5px;
    position: fixed;
    bottom: 0pt;
    width: 98%;
    color: blue;
}

.AppMain{
    background-image: linear-gradient(to right, rgba(195, 180, 50, 0.497) , rgba(13, 0, 255, 0.747));
  }

  .AppMain h1{
    justify-content: center;
    text-align: center;
  }